#id1{
  
  background-color: blanchedalmond;
  font-style: italic;
  border: 0cqmax;


}
select.moderate{  background-color: blanchedalmond;
  font-style: italic;
  border: 0cqmax;}
*{
    background-color: blanchedalmond;
  font-style: italic;
  border: 0cqmax;
}